.accordion-button {
  //   background-color: $colorSemiBackground;
  color: $colorSecondary;
  font-family: $font;

  &:not(.collapsed) {
    color: $colorBackground;
    background-color: $colorSecondary;
  }
}
