.cv__section {
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 4vw;

  @media (orientation: portrait) {
    grid-template-columns: 1fr;
    margin-bottom: 5vh;
  }
}
