$colorBackground: #000000;
$colorSemiBackground: #212121;

$colorPrimary: #bc0707;
$colorSecondary: #ffffff;

$colorFontDark: #272727;
$colorFontMid: #8f8f8f;
$colorFontLight: #f0f0f0;

$colorLabel: #c7c7c7;
