<footer class="footer">
    <a class="footer__logo" href="index.html"
        ><img href="index.html" src="assets/images/logo.webp" alt="Logo"
    /></a>

    <ul class="footer__list">
        <li class="footer__list-element"><a href="index.html">Inicio</a></li>
        <li class="footer__list-element">
            <a href="miembros.html">Miembros</a>
        </li>
        <li class="footer__list-element"><a href="banda.html">La Banda</a></li>
        <li class="footer__list-element"><a href="galeria.html">Galería</a></li>
    </ul>

    <div class="footer__social">
        <a href="https://www.facebook.com/">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://twitter.com/">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </div>
</footer>
